<!DOCTYPE html>
<html>
  <head>
    <title>Webservice - GUI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'cliente/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'cliente/css/estilo.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">

      <button type="button" class="navbar-toggler" data-toggle="collapse"
      data-target="#navbarSite">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSite">
        <div class="container">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="{% url 'cliente:index' %}" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'cliente:clientes' %}" class="nav-link">Clientes</a>
            </li>
          </ul>
          </div>
      </div>

    </nav>
    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
    <hr class="mt-5">
    <footer class="container">
      <div class="row">
        <div class="col-6">
          <p class="float-right pr-0"></p>
          <p>Copyright 2018. &copy; Webservice. Todos os direitos reservados.
        </div>
        <div class="col-6 pl-0">
          Desenvolvido por
          <a href="#">
            Guilherme Luis
          </a> &middot;
        </div>
        </p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
