{% extends "cliente/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Cliente {{ cliente.nome }}</h1>
  </div>
</div>

<div class="container">
  <div class="container">
    <h4>Nome: {{ cliente.nome }} {{ cliente.sobrenome }}</h4>
    <h4>Sexo: {{ cliente.sexo }}</h4>
    <h4>CPF: {{ cliente.cpf }}</h4>
    <h4>Idade: {{ cliente.idade }}</h4>
    <h4>API: <a href="{% url 'cliente:cliente-api' cliente.id %}">link</a></h4>
    
  </div>
</div>

{% endblock %}
