{% extends "cliente/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Clientes</h1>
    <h4>API: <a href="{% url 'cliente:clientes-api' %}">link</a></h4>
  </div>
</div>

<div class="container">
  <table class="table table-hover">
    <thead class="thead-dark initialism" align="center">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Sexo</th>
        <th scope="col">Idade</th>
      </tr>
    </thead>
    <tbody align="center">
      {% for i in clientes %}
      <tr>
        <td>
          <a href="{% url 'cliente:cliente' i.id %}">{{i.nome}}</a>

        </td>
        <td>{{i.sexo}}</td>
        <td>{{i.idade}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
